@textColor: #363636;

@containerWidth: 980px;

@bodyFontSize: 1em;

@bodyFontWeight: normal;
@bodyFontFamily: Helvetica, sans-serif, Arial;

@headerWidth: 100%;
@headerHeight: auto;
@headerPadding: 50px 0px 30px 0px;
@headerH1FontFamily: "Open Sans", Helvetica, sans-serif, Arial;
@headerH1FontWeight: 300;
@headerH1FontSize: 5em;
@headerH1HoverColor: #4169E1;

@footerWidth: 100%;
@footerFontSize: 1em;
@footerLastChildAfterContent: 'Built with Thao Framework';
@footerLastChildAfterDisplay: block;
@footerLastChildAfterTextAlign: center;

@textareaMinHeight: 120px;
@textareaMaxHeight: 305px;
@textareaPadding: 5px 8px;
@textareaLineHeight: 1.3em;